<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>



<section id="dashboard-section">
  <div class="dashboard-flex">
    <div class="card">
      <p>count of database products</p>
      <%=  @product_count %>

    </div>
    <div class="card">
      <p>count of # of categories</p>
     <%= @category_count%>
    </div>
  </div>
</section>











