    .cart-flex {
        display:flex;
        justify-content:space-between;

    }

  
    .dashboard-flex{
        display:flex;
        justify-content:space-between;

        width: 70%;
        margin-left: 15%;
}
    .card {
        margin:10%;
        border:1px solid black;
        background-color:lightgray;
        text-align:center;
    }